@font-face {
    font-family: 'Diphylleia';
    src: url('Diphylleia-Regular.woff2') format('woff2'),
        url('Diphylleia-Regular.woff') format('woff'),
        url('Diphylleia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

